################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/ConsoleBTree/v16
/ConsoleBTree/bin/Debug
/ConsoleBTree/obj/Debug
